body {
  color: #fff;
}

div.f-container {
  background-color: #ddd;
}

div.f-col {
  background-color: #777;
  border: 1px solid red;
}

#page-body {
  width: 100%;
  margin: auto;
  background-color: #333;
}
